<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{create.title}"></title>
</head>
<body>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Viet Nam</a>
<h1 th:text="#{create.title}"></h1>
<p>
    <a href="/" th:text="#{edit.index}"></a>
</p>
<form th:action="@{/created}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td th:text="#{index.fname}"></td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td th:text="#{index.lname}"></td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td th:text="#{index.province}"></td>
            <td>
                <select th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{create.title}"></td>
        </tr>
    </table>
</form>
</body>
</html>