<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{delete.title}"></title>
</head>
<body>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Viet Nam</a>
<h1 th:text="#{delete.title}"></h1>
<h2 th:text="#{delete.ask}"></h2>
<p>
    <a href="/customers" th:text="#{edit.index}"></a>
</p>
<form th:action="@{/deleted}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{index.fname}"></td>
            <td th:text="${customer.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{index.fname}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{delete.title}"></td>
        </tr>
    </table>
</form>
</body>
</html>