<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ - Furama Resort Đà Nẵng</title>
</head>
<header th:replace="user/layout :: header"></header>
<body>
<div style="width: 840px;padding-bottom: 20px;padding-left: 248px">
    <fieldset>
        <h2 style="text-align: center">CÁC GÓI COMBO KHUYẾN MÃI TẠI FURAMA RESORT ĐÀ NẴNG</h2>
        <table border="2" cellpadding="2" cellspacing="0">
            <tr>
                <td width="80px">Tên combo</td>
                <td width="360px">Mô tả khuyến mãi</td>
                <td width="140px">Thời gian áp dụng</td>
                <td width="80px">Giá</td>
            </tr>
            <tr>
                <td>Deluxe</td>
                <td>Trọn gói 2N1Đ + Xe đưa đón khứ hồi từ Ngoại thành - Resort Bao gồm: 01 đêm nghỉ, ăn sáng, xe đưa đón
                    khứ hồi
                </td>
                <td>01/06/20 đến 10/06/20</td>
                <td>1.321.000 VNĐ/người</td>
            </tr>
            <tr>
                <td>Intercontinental</td>
                <td>Trọn gói 2N1Đ + 01 bữa ăn trưa hoặc tối. Bao gồm:Ăn Sáng,Nước uống chào đón khi nhận phòng,Nước
                    suối, trà, cà phê trong phòng miễn phí, 01 bữa ăn trưa hoặc tối theo thực đơn có sẵn, theo số khách
                    quy định, Miễn phí sử dụng xe đạp và sân tennis theo lịch trình của khu nghỉ, Miễn phí chèo thuyền
                    kayak, chèo thuyền trên bãi biển theo lịch trình của khu nghỉ.
                </td>
                <td>06/05/2020 đến 30/09/2020</td>
                <td>3.200.000 VNĐ/người</td>
            </tr>
            <tr>
                <td>Standard</td>
                <td>Trọn gói 3N2Đ + Miễn phụ thu trẻ em + 1 bữa trưa/tối set menu. Bao gồm:Ăn Sáng Miễn phí phụ thu ăn
                    sáng dành cho 01 trẻ dưới 12 tuổi ngủ chung giường với bố mẹ 01 bữa trưa hoặc tối set menu dành cho
                    2 khách cho mỗi 2 đêm ở Nước uống chào đón khi nhận phòng Miễn phí nước suối, trà, cà phê trong
                    phòng Miễn phí sử dụng hồ bơi, bãi biển riêng miễn phí Thuế VAT Phí Dịch Vụ
                </td>
                <td>29/05/2020 - 31/08/2020</td>
                <td>2.150.000 VNĐ/người</td>
            </tr>
            <tr>
                <td>Deluxe hướng vườn</td>
                <td>Trọn gói 3N2Đ: Phòng nghỉ + Ăn sáng + 01 bữa tối. Bao gồm:Ăn Sáng Phí Dịch Vụ Thuế VAT 02 chai nước
                    suối, trà, cà phê đặt trong phòng mỗi ngày Miễn phí sử dụng hồ bơi, phòng thể dục Miễn phí sử dụng
                    wifi, internet Miễn phí xe đưa đón ra trung tâm (theo lịch trình của Resort) Một bữa ăn tối bao gồm
                    1 nước uống nhẹ tại nhà hàng La Fonte (thực đơn món Việt)
                </td>
                <td>19/05/2020 - 30/06/2020</td>
                <td>1.299.000 VNĐ/người</td>
            </tr>
            <tr>
                <td>Superior</td>
                <td>Ưu đãi phòng + 02 bữa ăn. Bao gồm: Ăn Sáng Nước uống chào mừng khi nhận phòng Nước suối, trà, cà phê
                    đặt trong phòng mỗi ngày Một bữa ăn tối tại nhà hàng Montagne (thực đơn Việt Nam cố định) dành cho
                    02 khách Miễn phí sử dụng hồ bơi, phòng tập thể dục, Bida, sân tennis (từ 7h-17h), khu vui chơi trẻ
                    em Miễn phí xe đưa đón vào trung tâm (theo lịch trình của khách sạn) Miễn phí sử dụng Wifi Giảm 10%
                    giá xe đưa đón sân bay, Karaoke, Spa, mua rau vườn Thuế VAT Phí Dịch Vụ
                </td>
                <td>03/04/2020 - 20/08/2020</td>
                <td>1.499.000 VNĐ/người</td>
            </tr>
            <tr>
                <td>Standard Cáp treo</td>
                <td>Trọn gói 3N2Đ, Ăn sáng + vé cáp treo - Ưu đãi đến 30.06. Bao gồm: Ăn Sáng Phí Dịch Vụ Thuế VAT Dạo
                    chơi giữa lưng chừng mây trên cây cầu Vàng độc nhất vô nhị, chỉ có tại Bà Nà Hills Miễn phí sử dụng
                    hồ bơi bốn mùa trong resort, wifi trong resort & trong phòng Miễn phí tham quan khu du lịch Bà Nà
                    (cầu Vàng, vườn hoa, chùa, hầm rượu), đi tàu hỏa leo núi, tàu lượn và các trò chơi miễn phí tại
                    Fantasy Park) Miễn phí xem phim tại hồ bơi bốn mùa vào buổi tối Vé cáp treo khứ hồi cho số lượng
                    người tiêu chuẩn/phòng
                </td>
                <td>05/05/2020 - 30/06/2020</td>
                <td>1.920.000 VNĐ/người</td>
            </tr>
            <tr>
                <td>Superior - Khuyến mãi Hè</td>
                <td> Ăn Sáng Nước uống chào mừng khách đến nhận phòng Miễn phí sử dụng trà, cà phê, 02 chai nước suối
                    tại phòng Miễn phí sử dụng hồ bơi, wifi, internet tại khách sạn Thuế VAT Phí Dịch Vụ
                </td>
                <td>28/05/2020 - 30/09/2020</td>
                <td>780.000 VNĐ/người</td>
            </tr>
            <tr>
                <td>Hill Top Pool Villa</td>
                <td>Ăn sáng tự chọn hàng ngày tại nhà hàng Dining By The Bay Đón tiễn sân bay bằng tàu và xe chung từ
                    sân bay quốc tế Cam Ranh tới khu nghỉ và chiều ngược lại theo số khách quy định Dịch vụ quản gia
                    dành riêng cho khách (GEM) trong suốt 24 giờ Giảm giá 50% dịch vụ Spa (áp dụng cho các liệu trình
                    riêng được đặt trước và không kết hợp với ưu đãi khác tại khu nghỉ) Miễn phí các hoạt động chăm sóc
                    sức khỏe theo lịch trình hàng tuần của khu nghỉ. Miễn phí sử dụng chèo thuyền kayak, thiết bị lặn
                    với ống thở và ván Miễn phí sử dụng trung tâm thể dục, phòng xông và tắm hơi, và hồ bơi ngoài trời
                    Miễn phí tham gia các trò chơi, bàn bóng bàn, phi tiêu, và các môn thể thao khu vực sân ngoài trời
                    (tennis, bóng chuyền, bóng rổ, pétanque và bóng đá), tùy thuộc vào tình trạng sẵn có Miễn phí thưởng
                    thức kem hàng ngày từ 11:00 sáng đến 4:30 chiều tại Dining by the Pool Tặng mỗi ngày 01 ưu đãi trải
                    nghiệm/phòng trong chương trình Six Sense Sweet 16* (Bất kỳ trải nghiệm miễn phí được sử dụng 1 lần
                    duy nhất trong suốt thời gian lưu trú, nếu những trải nghiệm được đặt lại sẽ tính theo giá công bố
                    tại khu nghỉ) khi đặt từ 03 đêm Thuế VAT Phí Dịch Vụ
                </td>
                <td>22/05/2020 - 20/06/2020</td>
                <td>1.480.000 VNĐ/người</td>
            </tr>
        </table>
    </fieldset>
</div>
<footer th:replace="user/layout :: footer"></footer>
</body>
</html>