<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{edit.title2}"></title>
</head>
<body>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Viet Nam</a><br>
<h1 th:text="#{edit.title2}"></h1>
<p>
    <a href="/provincelist" th:text="#{edit.list}"></a>
    <a href="/" th:text="#{edit.index}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-province}" th:object="${province}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{list.name}"></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{edit.update2}"></td>
        </tr>
    </table>
</form>
</body>
</html>